/**
 * @name Mint-Y
 * @version 1.0.0
 * @author stonleyfx
 * @authorId 505833634134228992
 * @description A theme that mimics the default Linux Mint Cinnamon/GTK theme.
*/
:root {

    --theme-color: #1F9EDE;

    --font-primary: system-ui;
    --font-display: system-ui;
    --header-secondary: white;
    /* buttons */
    --button-filled-brand-background: #6DB442;
    --button-filled-brand-background-hover: #88C663;
    /* slider bar color */
    --interactive-muted: #2B2B2B;
    --background-tertiary: #2B2B2B;
    --control-brand-foreground-new: var(--theme-color);
    /* background colors */
    --background-primary: #404040;
    --background-secondary: #353535;
    /* channel color */
    --background-modifier-selected: var(--control-brand-foreground-new);
    --channel-icon: white;
    --interactive-active: white;
    --channels-default: white;
    /* chat bar color */
    --channeltextarea-background: var(--background-primary);
    /* message hover background color */
    --background-message-hover: #494949;
    /* userbar icon color */
    --interactive-normal: white;
    /* context menus */
    --background-floating: #353535;
    /* modal background */
    --modal-background: var(--background-primary);
    --modal-footer-background: var(--background-primary);
    /* modal padding */
    --modal-vertical-padding: 6px;

}

/* date picker */
.vc-st-date-picker {
    background-color: #404040;
    font-size: small;
    padding-top: 7px;
    padding-bottom: 7px;
}

/* dropdown */
.lookFilled__3f413.select__3f413 {
    background-color: #404040;
}
.select__3f413 {
    padding-top: 7px;
    padding-bottom: 7px;
}
.text-md\/medium_cf4812 {
    font-size: small;
}

/* text input */
.input__0f084 {
    border: #2B2B2B 1px solid;
    border-radius: 2px;
    background-color: #404040;
    font-size: small;
}

/* slider */
.bar_a562c8 {
    height: 0.3em;
}

/* slider grabber */
.grabber_a562c8 {
    border-radius: 100%;
    border: #2B2B2B 1px solid;
    height: 18px;
    width: 18px;
    margin-top: -10px;
    margin-left: -9px;
    background-color: var(--background-primary);
    box-shadow: none;
}

/* hide discover button at bottom of server list */
.footer__214dc {
    display: none;
}

/* channel list style like nemo sidebar */
.wrapper__2ea32 {
    padding: 0;
    margin-left: 0;
}

/* muted channel color */
.modeMuted__2ea32 .icon__2ea32, .modeMuted__2ea32 .name__2ea32 {
    color: #727272;
}

/* channel border radius */
.hdStreamed__2ea32, .link__2ea32 {
    border-radius: 0;
}

/* channel font size */
.name__2ea32 {
    font-size: 13px;
}

/* channel button size */
.link__2ea32 {
    padding: 5px 8px;
}

/* hide scroll bar */
.scroller__629e4::-webkit-scrollbar,
.scroller_c1e9c4::-webkit-scrollbar {
    width: 0px;
}

/* fix unread indicator */
.unread__2ea32 {
    left: 0;
}

/* message bar padding */
.formWithLoadedChatInput_f75fb0 {
    padding: 0px;
}

/* message bar border */
.themedBackground__74017 {
    border-top: 1px #292929 solid;
    border-radius: 0;
}

/* hide application launcher */
.channelAppLauncher_e6e74f {
    display: none;
}

/* hide nitro gift button */
.container_c0c49a, .iconContainer_c0c49a {
    display: none;
}

/* server header */
.header_f37cb1 {
    padding: 15px 16px;
}

/* top bar button adjustments */
.iconWrapper__9293f {
    border: transparent 1px solid;
    width: 38px;
    height: 38px;
    margin: 0px 4px;
    padding: 0.5em;
    border-radius: 2px;
    transition: 0s;
}

.iconWrapper__9293f.clickable__9293f:hover {
    border: #2B2B2B 1px solid;
    background-color: #525252;
    transition: 0.3s;
}

.icon__9293f {
    width: 20px;
    height: 20px;
}

/* search bar */
.searchBar__97492 {
    height: 32px;
    background-color: transparent;
    border: 1px #2B2B2B solid;
    border-radius: 2px;
}

.search__97492 .DraftEditor-root {
    padding: 5px 0;
}

.searchBar__97492 .icon__97492 {
    margin: 3px 0;
}

/* search options */
.container__55c99 {
    box-shadow: none;
    background-color: #353535;
    border: 1px #2B2B2B solid;
}

/* create/upload options */
.menu_c1e9c4 {
    background-color: #353535;
    border: 1px black solid;
}
.scroller_c1e9c4 {
    padding: 0;
}
.colorDefault_c1e9c4 {
    color: white;
}
.item_c1e9c4 {
    margin: 0;
}
.labelContainer_c1e9c4 {
    padding: 0 0 0 8px;
}
.badge__77820, .optionName__77820, .label_c1e9c4 {
    font-size: 12px;
}
.colorDefault_c1e9c4.focused_c1e9c4 {
    background-color: #4C4C4C;
}
.optionIcon__77820 {
    width: 16px;
    height: 16px;
    padding-left: 8px;
}

/* borders */
.sidebar_c48ade {
    border-right: 1px #2B2B2B solid;
}
.container_c8ffbb {
    border-left: 1px #2B2B2B solid;
}
.container_c48ade {
    border-top: 1px black solid;
}

/* colored unread indicators */
.item__58105 {
    background-color: var(--theme-color);
}
.unread__2ea32 {
    background-color: var(--theme-color);
}

/* fix padding on context menus */
/* swap text and icon on context menus */

.labelContainer_c1e9c4 {
    padding: 0 8px;
    flex-direction: row-reverse;
    min-height: 28px;
}

/* fix context menu icon margin */
.iconContainer_c1e9c4 {
    margin-left: 0px;
    margin-right: 8px;
    min-height: 24px;
}

/* separator color */
.separator_c1e9c4 {
    margin: 0px;
    border-bottom: 1px #292929 solid;
}
.divider__88264 {
    background-color: #292929;
}

/* remove padding of sub-context menu */
.submenuPaddingContainer_c1e9c4 {
    padding: 0;
}

/* Modals */
/* header use line instead of shadow */
.theme-dark .separator__49fc1 {
    box-shadow: none;
    border-bottom: 1px #292929 solid;
}

/* text stuffs */
.eyebrow_b717a1 {
    text-transform: none;
}
.h2_b717a1 {
    text-transform: none;
    text-align: center;
}

/* events modal */
.content_d0b769 {
    background-color: #383838;
}

/* card */
.card__88264 {
    background-color: var(--background-primary);
    border-radius: 2px;
    border: 1px #292929 solid;
    transition: 0.1s background-color;
}
.card__88264:hover {
    background-color: #494949;
}

/* other button */
.lookFilled__201d5.colorPrimary__201d5 {
    background-color: #454545;
    border: 1px #292929 solid;
}
.lookFilled__201d5.colorPrimary__201d5:hover {
    background-color: #525252;
}
.sizeMin__201d5 {
    height: 34px;
}

/* expression picker */
.contentWrapper__08434 {
    background-color: #353535;
    border-radius: 2px;
    border: 1px black solid;
}
.wrapper__14245 {
    background-color: #353535;
}
.wrapper__4e6ce {
    background-color: #2B2B2B;   
}
.inspector_aeaaeb {
    background-color: #2B2B2B;
}
.header_c0e32c {
    box-shadow: none;
    border-bottom: 1px #292929 solid;
}
.container_a45028 {
    background-color: #404040;
    border: 1px #292929 solid;
}
.navList__08434 {
    justify-content: center;
}
.navItem__08434+.navItem__08434 {
    margin-left: -1px;
}
.navButton__08434 {
    background-color: #404040;
    font-size: small;
    font-weight: normal;
    padding: 6px 16px;
    border: 1px #1F1F1F solid;
    border-radius: 2px;
}
.navButton__08434:hover {
    background-color: #515151;
}
.navButton__08434:active, .navButtonActive__08434 {
    background-color: #252525;
}
.navButton__08434:active, .navButtonActive__08434:hover {
    background-color: #252525;
}
.emojiPickerHasTabWrapper_c0e32c .header_c0e32c,
.header__8ef02,
.header_fed6d3 {
    padding: 16px;
}
.container_fed6d3 {
    background-color: transparent;
}
.categoryList__3ad28,
.emojiPickerHasTabWrapper_c0e32c .categoryList_c0e32c {
    top: 69px;
}
.headerLabel__14245 {
    text-transform: none;
}

/* Inbox */
.messagesPopoutWrap__45690, .container__2692d, .container__0f711 {
    background-color: #404040;
}
.channelHeader__35a7e {
    background-color: #404040;
}
.messageContainer__95796, .messages__1ccd1 {
    background-color: #404040;
    border: 1px #292929 solid;
    border-radius: 2px;
}
.header__45690 {
    border-bottom: 1px #292929 solid;
    background-color: #353535;
}
.tab_ab6641 {
    font-size: small;
    background-color: #353535;
    padding: 2px 12px;
    margin-left: -1px;
    border: 1px transparent solid;
    border-bottom: 1px #292929 solid;
}
.tab_ab6641:hover {
    border: 1px #292929 solid;
    background-color: #3C3C3C;
    border-bottom: 1px #292929 solid;
}
.top_b3f026 .brand_b3f026.item_b3f026:active, .top_b3f026 .brand_b3f026.selected_b3f026.item_b3f026 {
    background-color: #404040;
    border: 1px #292929 solid;
    border-bottom: 1px transparent solid;
}
.controlButton_ab6641 {
    background-color: #454545;
    border: #292929 1px solid;
    width: 38px;
    height: 38px;
    margin: 0px 4px;
    padding: 0.5em;
    border-radius: 2px;
    transition: 0s;
}
.controlButton_ab6641:hover {
    border: #292929 1px solid;
    background-color: #525252;
    transition: 0.3s;
}
.friendRequestsButton__523aa {
    background-color: #454545;
    border: #292929 1px solid;
    width: 38px;
    height: 20px;
    margin: 0px 4px;
    padding: 0.5em;
    border-radius: 2px;
    transition: 0s;
}
.friendRequestsButton__523aa:hover {
    border: #292929 1px solid;
    background-color: #525252;
    transition: 0.3s;
}

/* pins */
.messageGroupWrapper__45690 {
    background-color: #404040;
    border: 1px #292929 solid;
    border-radius: 2px;
}